<% if @client_application.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@client_application.errors.count, "error") %> prohibited this client from being saved:</h2>

    <ul>
    <% @client_application.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="control-group">
  <label for="client_application_name" class="control-label">Name*</label>
  <div class="controls">
  <%= f.text_field :name, :class=>"input-xlarge" %>
  </div>
</div>
<div class="control-group">
  <label for="client_application_url" class="control-label">Main Application URL*</label>
  <div class="controls">
  <%= f.text_field :url, :class=>"input-xlarge" %>
  </div>
</div>
<div class="control-group">
  <label for="client_application_callback_url" class="control-label">Callback URL*</label>
  <div class="controls">
  <%= f.text_field :callback_url, :class=>"input-xlarge" %>
  </div>
</div>
<div class="control-group">
  <label for="client_application_support_url" class="control-label">Support URL</label>
  <div class="controls">
  <%= f.text_field :support_url, :class=>"input-xlarge" %>
  </div>
</div>
